@using Eco_Mascotas.Models;
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Agregar Producto</a>
    </div>

</div>
<form method="post">
    <div class="row">
        <div class="col-3">
            <input type="number" class="form-control" name="lowAmount" />
        </div>
        <div class="col-3">
            <input type="number" class="form-control" name="largeAmount" />
        </div>
        <div class="col-3">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
        <div class="col-3"></div>
    </div>
</form>
<br />
<div>
    <table class="table table-striped border" id="productTable" style="width:100%">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Tag)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Stock</td>
                    <td>@item.Category.CategoryName</td>
                    <td>@item.Tag.TagName</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.8/b-3.0.2/b-colvis-3.0.2/b-html5-3.0.2/b-print-3.0.2/r-3.0.2/datatables.min.js"></script>
    <script type="text/javascript">
        
        let table = new DataTable('#productTable', {
            buttons: [
                'copy', 'excel', 'pdf'
            ],
            layout: {
                topStart: 'buttons'
            }
        });

        $(function () {
            var save = '@TempData["save"]'
            if (save != '') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if (edit != '') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del != '') {
                alertify.error(del);
            }
        })
    </script>
}